* {
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 100%;
  height: 100%;
}
#container {
  width: 100%;
  height: 100%;
}

.chart-bar-wrapper {
  width: 50%;
  height: 50%;
  margin: 20px auto;
}

.chart-pie-wrapper {
  width: 50%;
  height: 50%;
  margin: 20px auto;
}

.chart-line-wrapper {
  width: 50%;
  height: 50%;
  margin: 20px auto;
}
