* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-background: rgb(238, 174, 202);
  --secondary-background: rgba(148, 187, 233, 1);
  --header-text: rgba(73, 73, 73);
}

body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    var(--primary-background) 0%,
    var(--secondary-background) 100%
  );
}

.wrapper {
  width: calc(100% - 20px);
  padding: 20px;
  height: 100%;
  font-family: Lato, Helvetica-Neue, monospace;
  line-height: 400px;
}

.wrapper .wrapper-header {
  color: var(--header-text);
}

.charts-list {
  display: flex;

  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.chart-item {
  margin: 0 0 20px 20px;
  height: calc(450px + 40px);
  width: calc(500px + 40px);
  border-radius: 2%;
  background-color: rgba(256, 256, 256, 0.1);
  box-shadow: -1px -1px 2px rgba(73, 73, 73, 0.2) inset;
  padding: 20px;
}

.button-container {
  display: flex;
  justify-content: start;
  align-items: center;
}

.line-button {
  width: 15%;
  margin: 0px 0 10px 187px;
  padding: 10px;
  font-size: 16pt;
  border-radius: 10px;
  background: radial-gradient(
    circle,
    var(--primary-background) 0%,
    var(--secondary-background) 100%
  );
}

.pie-button1 {
  width: 15%;
  padding: 10px;
  margin: 0px 0px 10px 190px;
  font-size: 16pt;
  border-radius: 10px;
  background: radial-gradient(
    circle,
    var(--primary-background) 0%,
    var(--secondary-background) 100%
  );
}

.pie-button2 {
  width: 15%;
  padding: 10px;
  margin: 0px 0px 10px 334px;
  font-size: 16pt;
  border-radius: 10px;
  background: radial-gradient(
    circle,
    var(--primary-background) 0%,
    var(--secondary-background) 100%
  );
}

.bar-button1 {
  width: 15%;
  padding: 10px;
  margin: 0px 0px 10px 190px;
  font-size: 16pt;
  border-radius: 10px;
  background: radial-gradient(
    circle,
    var(--primary-background) 0%,
    var(--secondary-background) 100%
  );
}

.bar-button2 {
  width: 15%;
  padding: 10px;
  margin: 0px 0px 10px 334px;
  font-size: 16pt;
  border-radius: 10px;
  background: radial-gradient(
    circle,
    var(--primary-background) 0%,
    var(--secondary-background) 100%
  );
}

.polar-button {
  width: 15%;
  margin: 0px 0 10px 187px;
  padding: 10px;
  font-size: 16pt;
  border-radius: 10px;
  background: radial-gradient(
    circle,
    var(--primary-background) 0%,
    var(--secondary-background) 100%
  );
}
