* {
  margin: 0;
  padding: 0;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.chart-shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes slidein {
  0% {
    transform: translate3d(-600px, 0, 0);
  }
  50% {
    transform: translate3d(100px, 0, 0);
  }
}

.chart-slidein {
  animation: slidein 3s cubic-bezier(0.36, 0.07, 0.19, 0.67) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(0px);
  }
}

.chart-bounce {
  animation: bounce 5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.chart-grow {
  animation: grow 2s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

:root {
  --primary-background: rgb(238, 174, 202);
  --secondary-background: rgba(148, 187, 233, 1);
  --header-text: rgba(73, 73, 73);
}

body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    var(--primary-background) 0%,
    var(--secondary-background) 100%
  );
}

.wrapper {
  width: calc(100% - 20px);
  padding: 20px;
  height: 100%;
  font-family: Lato, Helvetica-Neue, monospace;
  line-height: 400px;
}

.wrapper .wrapper-header {
  color: var(--header-text);
}

.charts-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.chart-item {
  margin: 0 0 20px 20px;
  height: calc(450px + 40px);
  width: calc(500px + 40px);
  border-radius: 2%;
  background-color: rgba(256, 256, 256, 0.1);
  box-shadow: -1px -1px 2px rgba(73, 73, 73, 0.2) inset;
  padding: 20px;
}

.button-container {
  display: flex;
  justify-content: start;
  align-items: center;
}

@keyframes pulse-grow {
  to {
    transform: scale(1.1);
  }
}

.line-button {
  width: 15%;
  margin: 0px 0 10px 187px;
  padding: 10px;
  font-size: 16pt;
  border-radius: 10px;
  background: radial-gradient(
    circle,
    var(--primary-background) 0%,
    var(--secondary-background) 100%
  );
}

.line-button:hover {
  animation-name: pulse-grow;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.pie-button1 {
  width: 15%;
  padding: 10px;
  margin: 0px 0px 10px 190px;
  font-size: 16pt;
  border-radius: 10px;
  background: radial-gradient(
    circle,
    var(--primary-background) 0%,
    var(--secondary-background) 100%
  );
}

.pie-button2 {
  width: 15%;
  padding: 10px;
  margin: 0px 0px 10px 334px;
  font-size: 16pt;
  border-radius: 10px;
  background: radial-gradient(
    circle,
    var(--primary-background) 0%,
    var(--secondary-background) 100%
  );
}

@keyframes wobble-vertical {
  16.65% {
    transform: translateY(8px);
  }

  33.3% {
    transform: translateY(-6px);
  }

  49.95% {
    transform: translateY(4px);
  }

  66.6% {
    transform: translateY(-2px);
  }

  83.25% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes wobble-horizontal {
  16.65% {
    transform: translateX(8px);
  }

  33.3% {
    transform: translateX(-6px);
  }

  49.95% {
    transform: translateX(4px);
  }

  66.6% {
    transform: translateX(-2px);
  }

  83.25% {
    transform: translateX(1px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes wobble-to-bottom-right {
  16.65% {
    transform: translate(8px, 8px);
  }

  33.3% {
    transform: translate(-6px, -6px);
  }

  49.95% {
    transform: translate(4px, 4px);
  }

  66.6% {
    transform: translate(-2px, -2px);
  }

  83.25% {
    transform: translate(1px, w1px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes wobble-to-top-right {
  16.65% {
    transform: translate(8px, -8px);
  }

  33.3% {
    transform: translate(-6px, 6px);
  }

  49.95% {
    transform: translate(4px, -4px);
  }

  66.6% {
    transform: translate(-2px, 2px);
  }

  83.25% {
    transform: translate(1px, -1px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes wobble-top {
  16.65% {
    transform: skew(-12deg);
  }

  33.3% {
    transform: skew(10deg);
  }

  49.95% {
    transform: skew(-6deg);
  }

  66.6% {
    transform: skew(4deg);
  }

  83.25% {
    transform: skew(-2deg);
  }

  100% {
    transform: skew(0);
  }
}

@keyframes wobble-bottom {
  16.65% {
    transform: skew(-12deg);
  }

  33.3% {
    transform: skew(10deg);
  }

  49.95% {
    transform: skew(-6deg);
  }

  66.6% {
    transform: skew(4deg);
  }

  83.25% {
    transform: skew(-2deg);
  }

  100% {
    transform: skew(0);
  }
}

#pie-animate1:hover {
  animation-name: wobble-vertical;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

#pie-animate2:hover {
  animation-name: wobble-horizontal;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

#pie-animate3:hover {
  animation-name: wobble-to-bottom-right;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

#pie-animate4:hover {
  animation-name: wobble-to-top-right;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

#pie-animate5:hover {
  animation-name: wobble-top;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  transform-origin: 0 100%;
}

#pie-animate6:hover {
  animation-name: wobble-bottom;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  transform-origin: 100% 0;
}

.bar-button1 {
  width: 15%;
  padding: 10px;
  margin: 0px 0px 10px 190px;
  font-size: 16pt;
  border-radius: 10px;
  background: radial-gradient(
    circle,
    var(--primary-background) 0%,
    var(--secondary-background) 100%
  );
}

.bar-button2 {
  width: 15%;
  padding: 10px;
  margin: 0px 0px 10px 334px;
  font-size: 16pt;
  border-radius: 10px;
  background: radial-gradient(
    circle,
    var(--primary-background) 0%,
    var(--secondary-background) 100%
  );
}

#bar-animate1 {
  transition-duration: 0.7s;
}

#bar-animate1:hover {
  transform: scale(1.2);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

#bar-animate2 {
  transition-duration: 0.3s;
  transition-property: transform;
  transform-origin: 0 100%;
}

#bar-animate2:hover {
  transform: skew(-15deg);
}

.polar-button {
  width: 15%;
  margin: 0px 0 10px 187px;
  padding: 10px;
  font-size: 16pt;
  border-radius: 10px;
  background: radial-gradient(
    circle,
    var(--primary-background) 0%,
    var(--secondary-background) 100%
  );
  transition-duration: 0.3s;
  transition-property: transform;
}

.polar-button:hover {
  transform: scale(1.1) rotate(4deg);
}
